# Directorios
.vscode/
.venv/
app/data/raw/*
app/data/processed/
gadm41_MEX_shp/
__pycache__/
.pytest_cache/
data
log
mlruns/
plots/
processed/

# Archivos
.env
config.yml
mlflow.db 
Revisión de lógica de distribución actual-20250206_101230-Grabación de la reunión.mp4

# Excepciones
!app/data/raw/historical_data_usd_mxn_2008-12-31_to_2026-01-20.csv
!data/**/*.dvc
!mlops/data/**/*.dvc


